.header {
	@include muktek-gradient();
	padding: 50px 30px;
}

	.header__content{
		background: $transparent-black;
		max-width: 650px;
		color: #fff;
		margin: 0 auto;
		text-align: center;
		padding: 1rem 0;
	}

	.header__page-title{
		@include fontformat-headtitle(#fff);
		margin: 0;
	}

	.header__divider{
		height: 0;
		width: 250px;
		border-bottom: 1px dotted #fff;
		margin: 1rem auto 0 auto;
	}

	.header__page-desc{
		margin: 0;
		font-weight: 200;
		padding: 1rem 2rem;
	}
