
.section{
	padding: 30px;
}

.section--featured {
	background: $gray-feint;
}

.section--definition {
	padding-top: 50px;
	padding-bottom: 50px;
}


.section__inner{
	@include inner-container();
}

.section__inner--testimonial-box{
	position: relative;
	max-width: 800px;
}

.section__title{
	@include fontformat-headtitle();
	text-align: center;
}

.section__title-divider	{
	width: 100px;
	margin: 0 auto;
	height: 1px;
	margin-bottom: 1rem;
	background-color: $gray-med;
}
