.testimonial-box{
	position: relative;
	height: 310px;

}

.testimonial-toggler{
	$size: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	outline: 0;

	&::before{
		content: " ";
		display: block;
		background: $gray-med;
		width: 100%;
		height: 100%;
	}

	&:nth-of-type(1){
		bottom: 0;
		right: 0;
		&:checked ~ .testimonial-box .testimonial-1{
			opacity: 1;
		}
	}

	&:nth-of-type(2){
		bottom: 0;
		right: $size + 10px;
		&:checked ~ .testimonial-box .testimonial-2{
			opacity: 1;
		}
	}

	&:nth-of-type(3){
		bottom: 0;
		right: $size + $size + 20px;

		&:checked ~ .testimonial-box .testimonial-3{
			opacity: 1;
		}
	}

	&:checked::before{
		background: $muktek-orange;
	}

}


.testimonial {
	font-size: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .2s linear .1s;

	> * {
		font-size: initial;
	}
}

.testimonial__img-container {
	width: 150px;
	position: relative;
	display: inline-block;
	vertical-align: middle
}

	.testimonial__img{
		border-radius: 50%;
	}

	.testimonial__icon{
		color: #fff;
		background: $muktek-blue;
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		top: 0; left: 0;
	}

.testimonial__copy{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 150px);
	padding: 15px;
}
	.testimonial__text{
		@include fontformat-small();
	}

	.testimonial__name{
		color: $muktek-blue;
	}
