@import '../../../node_modules/margo-css/margo.scss';
$muktek-blue: rgba(56,65,125,1);
$muktek-coolblue: #DEE0EA;
$muktek-orange: #ff8921;
$gray-feint: #f8f8f8;
$gray-light: #eee;
$gray-med: #aaaaaa;
$gray-dark: #666;
$transparent-black: rgba(50, 50, 50, .4);
$black: #333333;

$tablet-screen-size: 768px;

@mixin absolute-center(){
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fontformat-small($color: $gray-med){
	color: $color;
	font-size: .875rem;
	font-weight: 300;
}

@mixin fontformat-headtitle($color: $gray-dark){
	color: $color;
	font-weight: 200;
}



@mixin mediaquery($size){
	@media screen and (min-width: $size){
		@content;
	}
}

@mixin inner-container($size: 1200px){
	max-width: $size;
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	padding: 0 1rem;

	@include mediaquery($tablet-screen-size){
		padding: 0 2rem;
	}
}

@mixin muktek-gradient{
	background: $muktek-blue;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, $muktek-blue, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, $muktek-blue, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html{
	font-size: 18px;
}

* {
	box-sizing: border-box;
	// outline: 1px solid rgba(200,200,100,.4);
}

button, input, select, textarea{
	font-family: inherit;
}

body{
	font-family: 'Montserrat';
}

#app-container{
}

object{
	display: block;
}

img {
	width: 100%;
	display: block;
}


.video-container{
	padding: 1.5rem;
}

	.video-container__tilebox{
		position: relative;
		height: 0;
	}

	.video-container__video{
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
	}

button.button--basic{
	background: rgba(0,0,0,0);
	border-color: $gray-dark;
	border-width: 1px;
	color: $gray-dark;

	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;
	}
}

button.button--transparent{
	background: rgba(0,0,0,0);
	border-color: #fff;
	border-width: 1px;
	color: #fff;
	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;
	}
}

button.button--c2a{
	background: $muktek-blue;
	border-color: #fff;
	border-width: 1px;
	color: #fff;

	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;

	}
}

button.button--alt{
	background: $muktek-orange;
	border-color: #fff;
	border-width: 1px;
	color: #fff;

	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;
	}
}

.text--primary-font-color{
	color: $muktek-blue;
}

.text--alt-font-color{
	color: $muktek-orange;
}

.text--muted{
	color: $gray-med;
}

.link--block{
	display: block;
	color: inherit;
}

.standard{
	padding: 1rem;
}

	.standard__title{
		color: $gray-dark;
	}

	.standard__description{
		color: $gray-med;
	}


.extended-description{
	padding: 1rem;
}
	.extended-description__title{
		@include fontformat-headtitle();
	}
	.extended-description__description{
		color: $gray-dark;
	}


@import './landing';
@import './feature';
@import './section';
@import './major-product';
@import './testimonial';
@import './footer';
@import './nav';
@import './header';
