@import '../../../node_modules/margo-css/margo.scss';
$muktek-blue: #2C3D89;
$gray-med: #aaaaaa;
$gray-dark: #333333;

@mixin fontformat-thin($color: $gray-med, $size: .875rem ){
	color: $color;
	font-size: $size;
	font-weight: 300;
}

* {
	box-sizing: border-box;
	outline: 1px solid rgba(200,200,100,.4);
}


body{
	font-family: 'Montserrat';
}

img {
	width: 100%;
	display: block;
}



.hero--landing{
	background: $muktek-blue;
	color: #fff;
	min-height: 420px;
	height: 80vh;
	background: url('../images/landing-img.jpg');
	background-size: cover;
}

	.M-grid > .hero--landing__col-about{
		vertical-align: middle;
		padding: 1rem;

	}


	.hero--landing__title{
		font-weight: 300;
	}

	.hero--landing__blurb{
		font-weight: 300;
		@include fontformat-thin();
	}

	.M-grid > .hero--landing__col-newsletter{
		vertical-align: middle;
	}

	.hero--landing__signup {
		background: #fff;
		color: #aaa;
		padding: 1rem;
	}

		.hero--landing__signup-title {
			font-weight: 400;
			margin-top: .25rem;
			margin-bottom: .75rem;
		}

		.hero--landing__signup-instructions {
			margin: 0;
			@include fontformat-thin();

		}

	.hero--landing__newsletter-form {
		background: #ddd;
		padding: 2rem;
	}

		input.hero--landing__newsletter-form-input{
			@include fontformat-thin();
			background: #eee;
		}

		textarea.hero--landing__newsletter-form-input{
			@include fontformat-thin();
			background: #eee;
			height: 5rem;
		}
