@import '../../../node_modules/margo-css/margo.scss';
$muktek-blue: rgba(56,65,125,1);
$muktek-coolblue: #DEE0EA;
$muktek-orange: #ff8921;
$gray-feint: #f8f8f8;
$gray-light: #eee;
$gray-med: #aaaaaa;
$gray-dark: #666;
$black: #333333;

@mixin absolute-center(){
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fontformat-small($color: $gray-med){
	color: $color;
	font-size: .875rem;
	font-weight: 300;
}

@mixin fontformat-headtitle($color: $gray-dark){
	color: $color;
	font-weight: 200;
}

@mixin inner-container($size: 1200px){
	max-width: $size;
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	padding: 0 40px;
}

html{
	font-size: 18px;
}

* {
	box-sizing: border-box;
	// outline: 1px solid rgba(200,200,100,.4);
}

button, input, select, textarea{
	font-family: inherit;
}

body{
	font-family: 'Montserrat';
}

object{
	display: block;
}

img {
	width: 100%;
	display: block;
}

button.button--transparent{
	background: rgba(0,0,0,0);
	border-color: #fff;
	border-width: 1px;
	color: #fff;
}

button.button--c2a{
	background: $muktek-blue;
	border-color: #fff;
	border-width: 1px;
	color: #fff;

	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;

	}
}

button.button--alt{
	background: $muktek-orange;
	border-color: #fff;
	border-width: 1px;
	color: #fff;
	
	&:hover{
		background: $muktek-coolblue;
		color: $gray-dark;
		border-color: $gray-dark;

	}
}

@import './landing';
@import './feature';
@import './section';
@import './section';
@import './major-product';
