<!DOCTYPE html>
<html>
	<%- include partials/head.ejs %>
	<body>
		<div id="app-container">
			<div class="M-container--full hero--landing">
				<div class="M-container--narrow">
					<h1>Ama lo que haces</h1>
				</div>
			</div>
		</div>
		<script src="./js/bundle.js"></script>
	</body>
</html>
