<!DOCTYPE html>
<html>
	<%- include partials/head.ejs %>
	<body>
		<div id="app-container" class="layout--landing">
			<% include partials/index__hero.ejs %>
			<% include partials/index__oferta.ejs %>
			<% include partials/index__cursos.ejs %>
			<% include partials/index__nosotros.ejs %>
			<% include partials/index__testimonios.ejs %>

		</div>
		<script src="./js/bundle.js"></script>
	</body>
</html>
