<div class="section section--definition M-container--full">
  <div class="section__inner M-grid">
    <div class="M-grid__sm-12-of-12 M-grid__md-5-of-12">
        <div class="muktek-definition">
        <h3 class="muktek-word"><strong><span class="text--primary-font-color">MUK</span>·<span class="text--primary-font-color">TEK</span></strong></span></h3>
        <h4 class="muktek-word-def text--alt-font-color">fuerza tecnologia</h4>
        <h4 class="muktek-root">
          <strong>
            <small>1</small> <span class="text--primary-font-color">MU</span>u<span class="text--primary-font-color">K</span>
          </strong>
          <br/> 
          <em class="text--alt-font-color">fuerza</em>
          <br/>
          <small class="text--muted">(idioma => maya)</small>
        </h4>
        <h4 class="muktek-root">
          <strong>
            <small>2</small> <span class="text--primary-font-color">TEK</span>nolotilistli</span>
          </strong>
          <br/>
          <em class="text--alt-font-color">tecnología</em>
          <br/>
          <small class="text--muted">(idioma => náhuatl)</small>
        </h4>
      </div>
    </div>
    <div class="video-container M-grid__sm-12-of-12 M-grid__md-7-of-12">
      <div class="M-tile M-tile--sm-3-x-2 video-container__tilebox">
        <iframe class="video-container__video" src="https://www.youtube.com/embed/YR_dks3dh5c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
