<div class="section M-container--full">
  <div class="section__inner M-grid">
    <div class="section__header M-grid__sm-12-of-12">
      <h2 class="section__title">Nuestro Compromiso</h2>
      <div class="section__title-divider"></div>
    </div>
    <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img src="./images/muktek-globe.svg" alt="muktek globe">
    </div>
    <div class="standard M-grid__sm-12-of-12 M-grid__md-8-of-12">
      <h3 class="standard__title">Calidad a nivel mundial, ante todo</h3>
      <p class="standard__description">
        Buscamos aprovechar el mundo comunicado que tenemos hoy, y la historia denuestros fundadores, para traer a México sabiduría de la más alta calidad mundial para lograr nuestra misión.
      </p>
      <p class="standard__description">
        Además, buscamos crear experiencias enriquecedoras de la persona en todos sentidos, desde el lugar en donde aprenden nuestros alumnos, hasta el complemento con habilidades que, a pesar de no ser técnicamente tecnológicas, son esenciales para el éxito de nuestros alumnos.
      </p>
    </div>
  </div>
</div>
