<div class="section section--featured M-container--full">
  <div class="section__inner M-grid">
    <div class="extended-description M-grid__sm-6-of-12">
        <h3 class="extended-description__title">Nuestra <strong class="text--primary-font-color">historia</strong></h3>
        <p class="extended-description__description">
          MUKTEK nace para cambiar a México a través del empoderamiento de los mexicanos con herramientas que los harán competitivos a nivel mundial. El propósito de esta misión es lograr que nuestro país añada valor al mundo a través de la tecnología y así lograr un efecto retribuyente en las vidas de los mexicanos.
        </p>
        <p class="extended-description__description">
          En MUKTEK creemos que las personas son más felices si toman las riendas de su vida, y buscamos empoderar a aquellos que han demostrado maximizar su potencial, independientemente de las oportunidades que les ha dado la vida.
        </p>
    </div>
    <div class="extended-description M-grid__sm-6-of-12">
        <h3 class="extended-description__title">Intención <strong class="text--primary-font-color">social</strong></h3>
        <p class="extended-description__description">
          La razón de ser de MUKTEK nos lleva a la intención con la que se creó. El propósito de nuestros fundadores al crear MUKTEK fue el poder empoderar a los mexicanos independientemente de su contexto social.
        </p>
        <p class="extended-description__description">
          Por esto, MUKTEK es socialmente responsable desde el corazón y nuestra estrategia siempre está alineada a lograr hacer llegar nuestro valor agregado a          personas que han tenido pocas oportunidades y con discapacidad, que, a pesar de la adversidad, han demostrado resiliencia y motivación para llegar lejos.
        </p>
    </div>
  </div>
</div>
