<footer class="footer section">
  <div class="section__inner M-grid">
    <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="footer__logo" src="./images/muktek-logo-white.png" alt="">
    </div>
    <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12 M-text--center">
      <a class="footer__social-link" href="#"><i class="ion-social-facebook"></i></a>
      <a class="footer__social-link" href="#"><i class="ion-social-twitter"></i></a>
      <a class="footer__social-link" href="#"><i class="ion-social-instagram-outline"></i></a>
      <a class="footer__social-link" href="#"><i class="ion-social-youtube"></i></a>
    </div>
    <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12 M-text--right">
      <p>
        <a href="/terminos">TERMINOS Y CONDICIONES</a><br/>
        <a href="/privacidad">AVISO DE PRIVACIDAD</a><br/>
        Contáctanos en: <a href="mailto:info@muktek.com">info@muktek.com</a>
      </p>
    </div>
  </div>

</footer>
