<head>
  <meta charset="utf-8">
  <title>Muktek </title>
  <meta name="description" content="Talento y tecnologia. desde el origen.
    Aprende los lenguajes del futuro.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./images/muktek-icon.png" rel="icon"> 

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./fonts/ionicons-2.0.1/css/ionicons.min.css"/>
  <link rel="stylesheet" type="text/css" href="./css/styles.min.css"/>
</head>
