<div class="hero--landing M-container--full">
  <div class="hero--landing__inner M-grid">
    <div class="hero--landing__col-about M-grid__sm-12-of-12 M-grid__md-7-of-12 M-text--center">
      <h2 class="hero--landing__title">Aprende a codear</h2>
      <p class="hero--landing__blurb">
        La única manera de un EXCELENTE trabajo es amar lo que haces. Clases y programas diseñados para ti.
      </p>
      <p>
        <button class="button--c2a M-btn">Inscribirse</button>
        <button class="button--transparent M-btn">About Us</button>
      </p>
    </div>
    <div class="hero--landing__col-newsletter M-grid__sm-12-of-12 M-grid__md-5-of-12">
        <div class="hero--landing__signup">
          <h4 class="hero--landing__signup-title">Nuestro Boletin Informativo</h4>
          <p class="hero--landing__signup-instructions">Completa la forma y saber lo que vamos a hacer.</p>
        </div>
        <form class="hero--landing__newsletter-form M-grid M-form-group" action="index.html" method="post" >
          <div class="M-grid__sm-12-of-12">
            <input class="hero--landing__newsletter-form-input M-form-group__field_input" type="text" placeholder="Nombre..."/>
          </div>

          <div class="M-grid__sm-12-of-12">
            <input class="hero--landing__newsletter-form-input M-form-group__field_input" type="text" placeholder="Email..."/>
          </div>

          <div class="M-grid__sm-12-of-12">
            <textarea class="hero--landing__newsletter-form-input M-textarea" placeholder="Acerca de ti"></textarea>
          </div>

          <div class="M-grid__sm-12-of-12">
            <button class="button--c2a M-btn" >Registrame!</button>
          </div>

      </form>
    </div>
  </div>
</div>
