<div class="section section--nosotros M-container--full">
  <div class="section__inner M-grid">
    <div class="section__header M-grid__sm-12-of-12">
      <h2 class="section__title">El Equipo</h2>
      <div class="section__title-divider"></div>

    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/team-enrique_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Enrique</h4>
      <p class="feature__desc">Founder &amp;CEO</p>
    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/team-yair_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Yair</h4>
      <p class="feature__desc">Lead Instructor</p>
    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/team-atenas_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Atenas</h4>
      <p class="feature__desc">Community Manager</p>
    </div>
    <div class="feature M-text--center M-grid__sm-12-of-12">
      <button class="button--basic">Conoce Los Demas</button>
    </div>

  </div>
</div>
