<div class="section section--featured M-container--full">
  <div class="section__inner section__inner--testimonial-box">
    <div class="section__header">
      <h2 class="section__title">Testimonios</h2>
      <div class="section__title-divider"></div>
    </div>

    <input type="radio" name="testimony" class="testimonial-toggler" checked >
    <input type="radio" name="testimony" class="testimonial-toggler" >
    <input type="radio" name="testimony" class="testimonial-toggler">
    <div class="testimonial-box">
      <div class="testimonial testimonial-1">
        <div class="testimonial__img-container">
          <img class="testimonial__img" src="./images/testimonial-airy_tn.jpg" >
          <i class="ion-quote testimonial__icon"></i>
        </div>
        <div class="testimonial__copy">
          <p class="testimonial__text">“Lo que más me gustó fue que no necesitas tener conocimientos previos para poder aprender desde cero a programar, entónces va todo muy de la mano, sin embargo sientes que vas avanzando rápido”.</p>
          <h5 class="testimonial__name">Airy Minor</h5>
        </div>
      </div>
      <div class="testimonial testimonial-2">
        <div class="testimonial__img-container">
          <img class="testimonial__img" src="./images/testimonial-armando_tn.jpg" >
          <i class="ion-quote testimonial__icon"></i>
        </div>
        <div class="testimonial__copy">
          <p class="testimonial__text">“Lo que más me gustó fue que no necesitas tener conocimientos previos para poder aprender desde cero a programar, entónces va todo muy de la mano, sin embargo sientes que vas avanzando rápido”.</p>
          <h5 class="testimonial__name">Armando</h5>
        </div>
      </div>
      <div class="testimonial testimonial-3">
        <div class="testimonial__img-container">
          <img class="testimonial__img" src="./images/testimonial-anibal_tn.jpg" >
          <i class="ion-quote testimonial__icon"></i>
        </div>
        <div class="testimonial__copy">
          <p class="testimonial__text">“Lo que más me gustó fue que no necesitas tener conocimientos previos para poder aprender desde cero a programar, entónces va todo muy de la mano, sin embargo sientes que vas avanzando rápido”.</p>
          <h5 class="testimonial__name">Anibal</h5>
        </div>
      </div>
    </div>

  </div>
</div>
