<div class="section section--oferta M-container--full">
    <div class="section__inner M-grid">
      <div class="section__header M-grid__sm-12-of-12">
        <h2 class="section__title">Que Ofrecemos?</h2>
        <div class="section__title-divider"></div>

      </div>
      <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
        <object class="feature__icon" type="image/svg+xml" data="./images/landing-fullstack.svg"></object>
        <h4 class="feature__title">Foundations</h4>
        <p class="feature__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, temporibus aliquid reprehenderit mollitia, dignissimos fugit eveniet iusto aspernatur alias laudantium voluptatibus hic soluta quis consequuntur quas facere natus vel nulla?</p>
      </div>
      <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
        <object class="feature__icon" type="image/svg+xml" data="./images/landing-tooling.svg"></object>
        <h4 class="feature__title">Modern Tooling</h4>
        <p class="feature__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sequi repellat ab. Laudantium, eos temporibus. Culpa id nihil corrupti porro, tempore amet, quaerat quibusdam odio veritatis non cum earum laboriosam!</p>
      </div>
      <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
        <img class="feature__icon" src="./images/landing-bestpractice.svg" >
        <h4 class="feature__title">Best Practices</h4>
        <p class="feature__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nostrum repudiandae dicta assumenda quibusdam iusto vel modi, delectus deserunt obcaecati, suscipit, enim necessitatibus neque inventore animi! Reiciendis debitis suscipit labore!</p>
      </div>
    </div>
</div>
