<div class="section section--featured M-container--full">
  <div class="section__inner M-grid">
    <div class="section__header M-grid__sm-12-of-12">
      <h2 class="section__title">Nuestros Cursos</h2>
      <div class="section__title-divider"></div>
    </div>

    <div class="major-product__header M-grid__sm-12-of-12">
      <h3 class="major-product__title">Full Stack Javascript</h3>
    </div>
    <div class="major-product__copy M-grid__sm-12-of-12 M-grid__md-7-of-12">
      <h4 class="major-product__benefit">Build Complete Applications</h4>
      <p class="major-product__benefit-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

      <h4 class="major-product__benefit">Full Time Immersive</h4>
      <p class="major-product__benefit-desc">Culpa id nihil corrupti porro, tempore amet, quaerat quibusdam odio veritatis non cum earum laboriosam!</p>
      <button class="button--c2a">Descubre Mas</button>
    </div>
    <div class="major-product__img M-grid__sm-12-of-12 M-grid__md-5-of-12">
      <img src="./images/landing-fullstackcurso.png" alt="">
    </div>

    <div class="major-product__header M-grid__sm-12-of-12">
      <h3 class="major-product__title_alt">Introduccion a HTML/CSS</h3>
    </div>
    <div class="major-product__img M-grid__sm-12-of-12 M-grid__md-5-of-12">
      <img src="./images/landing-cursointro.png" alt="intro-curso">
    </div>
    <div class="major-product__copy M-grid__sm-12-of-12 M-grid__md-7-of-12">
      <h4 class="major-product__benefit">Learn the Basics</h4>
      <p class="major-product__benefit-desc">Culpa id nihil corrupti porro, tempore amet, quaerat quibusdam odio veritatis non cum earum laboriosam!</p>
      <h4 class="major-product__benefit">Study Part Time</h4>
      <p class="major-product__benefit-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      <button class="button--alt">Descubre Mas</button>
    </div>
  </div>
</div>
