<nav class="nav">
  <div class="nav__logo-container">
    <img class="nav__logo" src="./images/muktek-logo-white.png" alt="">
  </div>
  <div class="nav__toggle-menu" id="navbar-toggler">
    <i class="ion-navicon nav__toggle-menu-icon"></i>
  </div>
  <div class="nav__options-container" id="navbar-options">
    <a class="nav__option" href="#">Inscripciones</a>
    <a class="nav__option nav__option--main-cat" href="#">Cursos</a>
    <span class="nav__option nav__option--sub-cat" href="#">Intro HTML/CSS</span>
    <a class="nav__option nav__option--sub-cat" href="#">Javascript Fullstack</a>
    <a class="nav__option" href="#">About Us</a>
    <a class="nav__option" href="#">Nosotros</a>
    <a class="nav__option" href="#">Blog</a>

  </div>



</nav>
