<div class="header M-container--full">
  <div class="header__content">
    <h2 class="header__page-title">Nosotros</h2>
    <div class="header__divider"></div>
    <p class="header__page-desc">
      Creadores | Empleados | Consejo | Mentores
    </p>
  </div>
</div>
