<div class="section section--featured M-container--full">
  <div class="section__inner M-grid">
    <div class="section__header M-grid__sm-12-of-12">
      <h2 class="section__title">Consejo</h2>
      <div class="section__title-divider"></div>
    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/consejo-juan_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Juan Álvarez</h4>
      <h5 class="feature__title">Consejero</h5>
    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/consejo-barbara_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Bárbara Mair</h4>
      <h5 class="feature__title">Inversionista activa, estrategía</h5>
    </div>
    <div class="feature M-grid__sm-12-of-12 M-grid__md-4-of-12">
      <img class="feature__img" src="./images/consejo-lionel_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Lionel Lints</h4>
      <h5 class="feature__title">Creación de currículum y asesoría en metodología de instrucción</h5>
    </div>
  </div>
</div>
