<div class="section section M-container--full">
  <div class="section__inner M-grid">
    <div class="section__header M-grid__sm-12-of-12">
      <h2 class="section__title">Mentores</h2>
      <div class="section__title-divider"></div>
    </div>
    <div class="feature M-grid__sm-6-of-12 M-grid__md-3-of-12">
      <img class="feature__img" src="./images/mentores-arlene_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Arlene Pérez</h4>
    </div>
    <div class="feature M-grid__sm-6-of-12 M-grid__md-3-of-12">
      <img class="feature__img" src="./images/mentores-angelica_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Angélica González</h4>
    </div>
    <div class="feature M-grid__sm-6-of-12 M-grid__md-3-of-12">
      <img class="feature__img" src="./images/mentores-joel_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Joel Ponce</h4>
    </div>
    <div class="feature M-grid__sm-6-of-12 M-grid__md-3-of-12">
      <img class="feature__img" src="./images/mentores-josh_tn.jpg" >
      <h4 class="feature__title feature__title--compact">Josh Matos</h4>
    </div>
  </div>
</div>
