<div class="header M-container--full">
  <div class="header__content">
    <h2 class="header__page-title">Aviso de Privacidad</h2>
    <div class="header__divider"></div>
    <p class="header__page-desc">
      AVISO DE PRIVACIDAD DE MUKTEK, S.A.P.I. de C.V.
    </p>
  </div>
</div>
