<div class="section section M-container--full">
  <div class="section__inner M-grid standard">
      <div class="standard__title M-grid__sm-12-of-12">
        <p>MUKTEK, S.A.P.I. de C.V. (“<span class='terms__link'>MUKTEK</span>”) con domicilio en Avenida Goldsmith #40, Colonia Polanco, Delegación Miguel Hidalgo, C.P. 11550, Ciudad de México, México, reconoce la importancia del tratamiento legítimo, controlado e informado de sus datos personales y corporativos (“<span class='terms__link'>Datos Personales</span>”), a fin de garantizar su derecho a la privacidad y la autodeterminación informativa. El presente aviso de privacidad (“<span class='terms__link'>Aviso de Privacidad</span>”) se pone a su disposición a fin de que conozca las prácticas de MUKTEK al obtener, usar, divulgar o almacenar, sus Datos Personales.</p>
        <h4>¿Qué datos personales recabamos?</h4>
        <p>Algunos de los Datos Personales que pudieran recabarse son:</p>
        <ul>
          <li>Nombre;</li>
          <li>Dirección de correo electrónico;</li>
          <li>Número de teléfono fijo y/o de teléfono celular;</li>
          <li>Fecha de nacimiento;</li>
          <li>Escolaridad;</li>
          <li>Nombres de escuelas a las que se acudió;</li>
          <li>Profesión;</li>
          <li>Información financiera o bancaria (como número de cuenta bancaria); y,</li>
          <li>Cualquier otra que pueda ser considerada como confidencial y susceptible para ser tratada como privada.</li>
        </ul>
        <p>MUKTEK tratará sus Datos Personales únicamente por el tiempo que sea necesario, a fin de cumplir con las finalidades descritas en el presente Aviso de Privacidad y/o de conformidad con lo que establezcan las disposiciones legales aplicables.</p>
        <h4>¿Para qué recabamos los Datos Personales?</h4>
        <p>Los Datos Personales que recaba MUKTEK son utilizados para prestarle los servicios ofrecidos, para desarrollar y mejorar nuestros servicios, para contactarlo, para comunicarle novedades respecto a nuestros servicios, para dar seguimiento a los cursos impartidos por nosotros, para llevar a cabo actividades de mercadeo y promocionales, para prestarle los servicios específicos de cada una de las áreas de servicio en las cuales se ha registrado, para proporcionarle acceso a información sobre servicios que consideramos pudieran ser de su interés, para interrelacionar bases de datos y conocer su perfil y necesidades, para llevar a cabo la facturación por los servicios prestados, para enviarle facturas electrónicas al correo electrónico proporcionado, para gestionar la cobranza y el procesamiento de pagos, para implementar medidas de protección en contra de posibles transacciones fraudulentas o identificación de las mismas y, en general, para cumplir con el desarrollo propio de la relación comercial.</p>
        <p>Sus Datos Personales podrán ser utilizados para otras finalidades siempre y cuando dichas finalidades sean compatibles con las antes descritas y puedan considerarse análogas.</p>
        <p>Las redes sociales constituyen una plataforma de comunicación y de interconexión entre plataformas digitales de los distintos usuarios. Dichas plataformas son ajenas a MUKTEK y la información que usted proporcione dentro de redes sociales en las que MUKTEK participa como usuario, no constituye ni forma parte de los Datos Personales sujetos a la protección de este Aviso de Privacidad, siendo responsabilidad de la empresa prestadora de esa plataforma y de quien lo publica.</p>
        <h4>¿Qué comunicaciones de sus Datos Personales podrán llevarse a cabo?</h4>
        <p>MUKTEK puede compartir con terceros, nacionales o extranjeros, sus Datos Personales con el fin de cumplir con las finalidades antes descritas. Los terceros a los que MUKTEK puede comunicar sus Datos Personales son, por ejemplo: otras compañías afiliadas o subsidiarias de MUKTEK; asesores profesionales externos que actúen a nombre y por cuenta de MUKTEK; prestadores de servicios que son contratados para cumplir con las finalidades descritas y que actúan a nombre y por cuenta de MUKTEK.</p>
        <p>Cuando MUKTEK comparta sus Datos Personales con terceros se asegurará de que dichos terceros tomen las medidas necesarias para proteger la confidencialidad y seguridad de sus Datos Personales. MUKTEK requerirá que dichos terceros cumplan con el Aviso de Privacidad y la Política de Privacidad de MUKTEK y les prohibirá utilizar sus Datos Personales para un fin distinto a aquellos para los cuales fueron recabados.</p>
        <p>Asimismo, MUKTEK puede comunicar sus Datos Personales a terceros, nacionales o extranjeros, independientes de MUKTEK, cuando tenga el propósito de cumplir con una obligación legalmente adquirida, sea requerido por resolución o determinación de autoridad competente, exista una situación de emergencia que ponga en riesgo su persona o sus bienes o cuando dicha comunicación de datos esté prevista en una ley.</p>
        <h4>¿Cómo resguardamos sus Datos Personales?</h4>
        <p>MUKTEK ha adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias para proteger sus Datos Personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.</p>
        <p>El acceso a sus Datos Personales, en poder de MUKTEK, se limitará a las personas que necesiten tener acceso a dicha información, con el propósito de llevar a cabo las finalidades identificadas en este Aviso de Privacidad.</p>
        <p>MUKTEK se compromete a que la información proporcionada por usted será tratada de conformidad con la legislación en materia de protección de Datos Personales aplicable.</p>
        <h4>¿Qué derechos y obligaciones te corresponden como titular de los Datos Personales?</h4>
        <p>Usted, como titular de Datos Personales podrá ejercer ante los representantes legales de MUKTEK, los derechos de acceso, rectificación, cancelación y/u oposición, de acuerdo a lo siguiente:</p>
        <ul>
          <li><strong>Derecho de Acceso</strong>. Que se le informe cuáles de sus Datos Personales están contenidos en las bases de datos de MUKTEK, para qué se utilizan, el origen de dichos datos y las comunicaciones que se hayan realizado con los mismos.</li>
          <li><strong>Derecho de Rectificación</strong>. Que se corrijan o actualicen sus Datos Personales en caso de que sean inexactos o incompletos. Usted tendrá la obligación de informar a MUKTEK de los cambios que se deban hacer a sus Datos Personales, cuando dichos cambios sólo sean de su conocimiento y sean imputables a usted.</li>
          <li><strong>Derecho de Cancelación</strong>. Que sus Datos Personales sean dados de baja de las bases de datos de MUKTEK. Esta solicitud dará lugar a un periodo de bloqueo tras el cual procederá la supresión de los datos.</li>
        </ul>
        <p>Existen casos en los que la cancelación no será posible en términos de lo establecido en la legislación aplicable.</p>
        <ul>
          <li><strong>Derecho de Oposición</strong>. Oponerse por causa legítima al tratamiento de sus Datos Personales por parte de MUKTEK. En los casos que la oposición verse sobre la recepción de ciertos comunicados, en dichos comunicados se incluirá la opción para salir de la lista de distribución y dejar de recibirlos.</li>
        </ul>
        <p>MUKTEK pone a su disposición el siguiente correo electrónico, para que nos pueda enviar su solicitud de acceso, rectificación, cancelación y oposición: unsuscribe@muktek.com, a cargo de la señorita Atenas Cruz Gama.</p>
        <p>Sus solicitudes deberán contener los requisitos mínimos contenidos en la legislación aplicable. MUKTEK le comunicará en un periodo máximo de 15 (quince) días naturales, contados a partir de la fecha de recepción de su solicitud, la determinación adoptada.</p>
        <h4>¿Cómo te comunicamos los cambios al Aviso de Privacidad?</h4>
        <p>En caso de existir cambios, modificaciones y/o actualizaciones al presente Aviso de Privacidad, de las cuales MUKTEK se reserva el derecho a efectuar en cualquier momento, las mismas se pondrán a su disposición en la página de internet www.muktek.com. La falta de oposición al Aviso de Privacidad modificado, dentro de los 5 (cinco) días hábiles siguientes a su publicación, se entenderá como la aceptación y consentimiento a los términos establecidos en el mismo.</p>
        <h4>¿A quién debes dirigir tus dudas o comentarios y ante quién se ejercitan los derechos de acceso, rectificación, cancelación y oposición?</h4>
        <p>En caso de tener dudas o comentarios respecto del Aviso de Privacidad o si quisiera ejercitar cualquiera de los derechos que por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares le corresponden, le pedimos contacte al Departamento de Protección de Datos Personales de MUKTEK, a través de la siguiente dirección de correo electrónico unsuscribe@muktek.com, a cargo de la señorita Atenas Cruz Gama. El Departamento de Protección de Datos Personales de MUKTEK atenderá cualquier duda que pudiera tener respecto al tratamiento de su información.</p>
        <p>Si el usuario utiliza los servicios de MUKTEK, significa que dicho usuario ha leído, entendido y acordado los términos y condiciones expuestos en el presente Aviso de Privacidad, publicado en el sitio web de MUKTEK. Si no está de acuerdo con ellos, el usuario no deberá proporcionar ninguna información personal, ni utilizar nuestros servicios.</p>
        <p>Fecha de última actualización: <time>21 de mayo de 2017</time>.</p>
    </div>
  </div>
</div>
