<div class="section section M-container--full">
  <div class="standard section__inner M-grid">
      <div class="standard__title M-grid__sm-12-of-12">
        <h4>I. Alcance</h4>
        <p>Estos términos y condiciones aplican a todos los cursos ofrecidos por MUKTEK, S.A.P.I. DE C.V. (MUKTEK).</p>
        <p>Le recomendamos que lea con detenimiento el contenido de los términos y condiciones generales antes de generar el pago de cualquiera de los servicios de capacitación que ofrecemos.</p>
        <p>Los términos y condiciones generales no son negociables y una vez aceptados son obligatorios para todos los usuarios de nuestros servicios.</p>
        <h4>II. Registro</h4>
        <p>Las solicitudes de inscripción a los cursos se realizarán exclusivamente a través del formato de registro publicado en nuestra página web (<a class='terms__link' href='http://www.muktek.com/'>http://www.muktek.com/</a>); nosotros enviaremos la confirmación de su registro y aceptación (o falta de la misma) al curso, al correo electrónico proporcionado por usted.</p>
        <p>La fecha límite de registro a los cursos se establecerá al momento de la publicación de los mismos.</p>
        <p>El registro implica el reconocimiento y aceptación de nuestros términos y condiciones generales. El desconocimiento del contenido de los términos y condiciones generales no le exime de la responsabilidad.</p>
        <p>Adicionalmente, el registro implica la aceptación en favor de MUKTEK, para que éste haga uso de fotos y/o videos de los alumnos para la promoción de los cursos de MUKTEK, ya sea en línea o de cualquier otra forma.</p>
        <h4>III. Servicios</h4>
        <p>Nuestro servicio incluye:</p>
        <ul>
          <li>Curso de 4 horas de aprendizaje;</li>
          <li>2 horas de asesoría;</li>
          <li>Constancia de participación con valor curricular. Esta será otorgada a los participantes que asistan al menos al 75% de la capacitación y el 75% de las asignaturas completadas satisfactoriamente;</li>
          <li>Instructores capacitados y con amplia experiencia.</li>
          <li>Materiales, herramientas. El equipo de cómputo con el software necesario para la actividad de formación será incluido en algunos cursos de MUKTEK, y esto se indicará dependiendo el curso.</li>
        </ul>
        <h4>IV. Precios y condiciones de pago</h4>
        <p>Los costos de los cursos serán enviados por correo electrónico al cliente, una vez que se haya registrado. El pago consiste de una inscripción y un costo remanente. El pago de la inscripción debe realizarse inmediatamente después de la aceptación del alumno al curso correspondiente, para reservar un lugar en el mismo. El pago remanente debe realizarse en una o dos exhibiciones por medio de depósito en efectivo o transferencia electrónica en la cuenta bancaria a nombre de MUKTEK, salvo que en la publicación de los cursos se establezca lo contrario.</p>
        <p>MUKTEK indicará a los participantes el número de cuenta y las fechas para la realización de los pagos a través de correo electrónico, una vez haya finalizado el proceso de registro. El comprobante de pago junto con la documentación solicitada deberá ser legible y enviada a la dirección de correo electrónico determinada por MUKTEK; MUKTEK enviará la confirmación de su inscripción al correo electrónico proporcionado, una vez haya sido confirmado el pago correspondiente.</p>
        <h4>V. Facturación</h4>
        <p>El participante que requiera de factura deberá solicitarla al momento de enviar la documentación con su comprobante de pago, para lo cual deberá anexar <strong>la cédula y domicilio fiscal completo</strong>. Factura que no sea solicitada en el momento de la inscripción, no podrá ser emitida posteriormente. MUKTEK emitirá y enviará la factura correspondiente una vez <strong>iniciado el curso</strong>, a la dirección de correo electrónico previamente registrada por el participante.</p>
        <h4>VI. Derechos reservados de modificación</h4>
        <p>MUKTEK se reserva el derecho de cambiar los cursos por razones justificables (mencionando de forma enunciativa más no limitativa, cuando haya pocos participantes o en caso de que el instructor se encuentra incapacitado a acudir al curso correspondiente) de posponer o cancelar los servicios y/o de asignar un nuevo instructor.</p>
        <h4>VII. Cancelaciones por los participantes registrados</h4>
        <p>El costo de la capacitación será cobrado a los participantes registrados y su inscripción será confirmada incluso en el caso de inasistencia. Los participantes pueden cancelar su inscripción en el curso comunicando su decisión a la dirección de correo electrónico pagos@muktek.com. Si la cancelación se realiza dentro de los 6 días hábiles anteriores al inicio del curso se devolverá el 100% del valor de la misma. Si la cancelación ocurre en una fecha posterior a lo establecido anteriormente o al inicio del curso, no habrá devoluciones. La fecha y hora de cancelación corresponde al día en que MUKTEK recibe comunicación vía correo electrónico de ello.</p>
        <h4>VIII. Ley aplicable</h4>
        <p>Este acuerdo está sujeto a la legislación y jurisdicción de los tribunales competentes establecidos en la Ciudad de México, México.</p>
        <h4>IX. Derechos de autor</h4>
        <p>El material escrito de los cursos no puede ser reproducido bajo ningún propósito sin el consentimiento oficial de MUKTEK y solamente puede ser utilizado para propósitos explícitamente autorizados por la MUKTEK. El software utilizado o proporcionado por MUKTEK para la realización de las capacitaciones no puede ser removido, copiado (total o parcialmente) ni usado de cualquier otra manera no autorizada. Ninguna grabación de video o sonido es permitida.</p>
        <h4>X. Responsabilidad</h4>
        <p>Toda la información técnica proporcionada en los cursos y la documentación de las capacitaciones, es correcta de acuerdo con nuestro conocimiento. Ninguna responsabilidad será asumida por la exactitud de la información proporcionada en los cursos o en los documentos de la capacitación.</p>
    </div>
  </div>
</div>
