<div class="header M-container--full">
  <div class="header__content">
    <h2 class="header__page-title">TERMINOS Y CONDICIONES</h2>
    <div class="header__divider"></div>
    <p class="header__page-desc">
      TÉRMINOS Y CONDICIONES GENERALES PARA LOS SERVICIOS DE CAPACITACIÓN QUE OFRECE MUKTEK, S.A.P.I DE C.V.
    </p>
  </div>
</div>
